.ling3 {
    scale: 8;
    transform: translate(-1px, 19px);
}

.yu1 {
    scale: 7;
    transform: translate(1px, 18px);
}

.dusk2 {
    scale: 9;
    transform: translate(7px, 25.5px);
}

.surfer1 {
    scale: 6;
    transform: translate(-5px, 33px);
}

.philae1 {
    scale: 6;
    transform: translate(-3px, 34px);
}

.breeze1 {
    scale: 5.5;
    transform: translate(12px, 44px);
}

.beanstalk2 {
    scale: 6;
    transform: translate(-4px, 28px);
}

.nightmare2 {
    scale: 4.5;
    transform: translate(6px, 46px);
}

.hibiscusalter1 {
    scale: 6.25;
    transform: translate(-7px, 28px);
}

.harmonie2 {
    scale: 6.2;
    transform: translate(-6px, 11px);
}

.arene2 {
    scale: 6;
    transform: translate(-5px, 54px);
}

.greyy2 {
    scale: 4;
    transform: translate(0px, 4px);
}

.viviana1 {
    scale: 8;
    transform: translate(-1px, 8px);
}

.bagpipe3 {
    scale: 6;
    transform: translate(3px, 29px);
}

.matoimaru1 {
    scale: 7;
    transform: translate(-6.5px, 55.5px);
}

.kestrel1 {
    scale: 5;
    transform: translate(-8px, 55px);
}

.leizithethunderbringer1 {
    scale: 7;
    transform: translate(-1px, 32px);
}

.raidian1 {
    scale: 9;
    transform: translate(-4.5px, 14px);
}

.papyrus1 {
    scale: 6;
    transform: translate(5px, 35px);
}

.nymph1 {
    scale: 7.5;
    transform: translate(15px, 30px);
}

.valarqvin1 {
    scale: 6.5;
    transform: translate(-3px, 31px);
}

.durnar1 {
    scale: 6;
    transform: translate(7px, 20px);
}

.sesa1 {
    scale: 6.5;
    transform: translate(-19px, 44px);
}

.mousse2 {
    scale: 5.5;
    transform: translate(2px, 17px);
}

.brigid1 {
    scale: 6;
    transform: translate(8.5px, 26px);
}

.muelsyse2 {
    scale: 8;
    transform: translate(-4px, 32.5px);
}

.mostima2 {
    scale: 8;
    transform: translate(-3.5px, 18px);
}

.logos1 {
    scale: 7;
    transform: translate(-2px, 18px);
}

.stainless2 {
    scale: 8;
    transform: translate(2px, 15px);
}

.ines2 {
    scale: 9;
    transform: translate(0px, 24px);
}

.swirealter1 {
    scale: 7;
    transform: translate(1px, 30px);
}

.hoolheyak1 {
    scale: 7;
    transform: translate(0px, 40px);
}

.silverash3 {
    scale: 7;
    transform: translate(-14px, 10.5px);
}

.nymph2 {
    scale: 10;
    transform: translate(1px, 8px);
}

.surtr3 {
    scale: 7.5;
    transform: translate(3px, 19.5px);
}

.wisadel1 {
    scale: 10;
    transform: translate(-1.5px, 20px);
}

.archetto2 {
    scale: 8;
    transform: translate(9px, 18px);
}

.virtuosa1 {
    scale: 8;
    transform: translate(-4px, 20.5px);
}

.rosmontis2 {
    scale: 8.5;
    transform: translate(8px, 8px);
}

.qiubai2 {
    scale: 7;
    transform: translate(-4px, 9.5px);
}

.corroserum1 {
    scale: 7;
    transform: translate(-1px, 31px);
}

.cement1 {
    scale: 6;
    transform: translate(-6px, 29px);
}

.pinecone2 {
    scale: 5;
    transform: translate(-7px, 25px);
}

.cantabile2 {
    scale: 6;
    transform: translate(2px, 25px);
}

.w1 {
    scale: 6;
    transform: translate(11px, 20px);
}

.rosmontis1 {
    scale: 8;
    transform: translate(19px, 24px);
}

.nearlalter1 {
    scale: 7;
    transform: translate(-2px, 33px);
}

.texasalter2 {
    scale: 7;
    transform: translate(-7px, 22px);
}

.ines1 {
    scale: 11;
    transform: translate(-2px, 26px);
}

.thorns2 {
    scale: 9;
    transform: translate(-5px, 27px);
}

.muelsyse1 {
    scale: 8;
    transform: translate(3px, 38px);
}

.fiammetta2 {
    scale: 10;
    transform: translate(-9px, 27px);
}

.skadialter1 {
    scale: 8;
    transform: translate(2px, 14px);
}

.kaltsit1 {
    scale: 9;
    transform: translate(-0px, 24px);
}

.specteralter1 {
    scale: 8.5;
    transform: translate(-11px, 30.5px);
}

.skadialter2 {
    scale: 8;
    transform: translate(-0px, 21px);
}

.bluepoison2 {
    scale: 8;
    transform: translate(0px, 26px);
}

.mlynar2 {
    scale: 8;
    transform: translate(-5px, 15px);
}

.texasalter1 {
    scale: 8;
    transform: translate(-0px, 25px);
}

.mizuki2 {
    scale: 6;
    transform: translate(-4px, 36px);
}

.saria3 {
    scale: 8;
    transform: translate(-2px, 27px);
}

.lemuen1 {
    scale: 6;
    transform: translate(-3px, 35px);
}

.necrass2 {
    scale: 12;
    transform: translate(9px, 25px);
}

.savage3 {
    scale: 9;
    transform: translate(5px, 1px);
}

.aroma1 {
    scale: 6.5;
    transform: translate(-0px, 28.5px);
}

.exusiaithenewcovenant1 {
    scale: 9;
    transform: translate(-3.5px, 11.5px);
}

.haruka1 {
    scale: 8;
    transform: translate(4px, 15px);
}

.nowell1 {
    scale: 8;
    transform: translate(-2.5px, 26px);
}

.montr1 {
    scale: 11;
    transform: translate(-4px, 28px);
}

.gracebearer1 {
    scale: 7;
    transform: translate(-12px, 22px);
}

.mountain3 {
    scale: 6;
    transform: translate(-7px, 43px);
}

.sanktamiksaparato1 {
    scale: 9;
    transform: translate(-1px, 22px);
}

.rhodesislandrecon1 {
    scale: 4;
    transform: translate(21px, -7px);
}

.vulpisfoglia1 {
    scale: 7;
    transform: translate(-3px, 29.5px);
}

.vendela1 {
    scale: 8;
    transform: translate(13px, 25px);
}

.popukar2 {
    scale: 9;
    transform: translate(-1px, 24px);
}

.suzuran3 {
    scale: 6;
    transform: translate(-4px, 13px);
}

.mint1 {
    scale: 6;
    transform: translate(-3px, 30px);
}

.scene1 {
    scale: 5;
    transform: translate(2px, 46px);
}

.silencealter1 {
    scale: 8;
    transform: translate(-8px, 4px);
}

.insider1 {
    scale: 6;
    transform: translate(-9px, 25px);
}

.terraresearchcommission1 {
    scale: 4;
    transform: translate(-15px, 17px);
}

.wulfenite1 {
    scale: 7;
    transform: translate(-3px, 13px);
}

.vetochki1 {
    scale: 7;
    transform: translate(11px, 40px);
}

.grainbuds1 {
    scale: 7;
    transform: translate(-3px, 30px);
}

.lutonada1 {
    scale: 7;
    transform: translate(-4px, 31px);
}

.gladiia2 {
    scale: 8;
    transform: translate(-7px, 25px);
}

.penance2 {
    scale: 6.5;
    transform: translate(-4px, 26px);
}

.melanite1 {
    scale: 7;
    transform: translate(6px, 35px);
}

.underflow1 {
    scale: 8;
    transform: translate(4px, 21px);
}

.blemishine2 {
    scale: 6.5;
    transform: translate(-9px, 40px);
}

.lin3 {
    scale: 8;
    transform: translate(-9px, 25px);
}

.narantuya2 {
    scale: 7;
    transform: translate(-1px, 17px);
}

.insider2 {
    scale: 5;
    transform: translate(32px, 17px);
}

.ray2 {
    scale: 6.5;
    transform: translate(3px, 8px);
}

.meteorite2 {
    scale: 7;
    transform: translate(-14px, 2px);
}

.click2 {
    scale: 6;
    transform: translate(4px, 23px);
}

.lin2 {
    scale: 7.5;
    transform: translate(-22px, 10.5px);
}

.reedalter2 {
    scale: 9.5;
    transform: translate(-1px, 16px);
}

.typhon2 {
    scale: 7;
    transform: translate(18px, 25px);
}

.proviso2 {
    scale: 7;
    transform: translate(5px, 29px);
}

.totter1 {
    scale: 7;
    transform: translate(2px, 46.5px);
}

.pozyomka2 {
    scale: 8;
    transform: translate(-5px, 19px);
}

.cuora2 {
    scale: 6;
    transform: translate(-6px, 34.5px);
}

.ulpianus1 {
    scale: 7;
    transform: translate(-10px, 2px);
}

.lucilla1 {
    scale: 8;
    transform: translate(-22px, 7px);
}

.highmore2 {
    scale: 6.5;
    transform: translate(-4px, 34px);
}

.ascalon1 {
    scale: 9;
    transform: translate(-1px, 31px);
}

.misschristine1 {
    scale: 8;
    transform: translate(10px, -5px);
}

.chenalter2 {
    scale: 7.5;
    transform: translate(-4px, 26px);
}

.necrass1 {
    scale: 8;
    transform: translate(3px, 19px);
}

.may1 {
    scale: 5.5;
    transform: translate(-2px, 21px);
}

.gavialalter1 {
    scale: 7.5;
    transform: translate(-5px, 19px);
}

.goldenglow2 {
    scale: 5;
    transform: translate(3px, 28px);
}

.eyjaalter1 {
    scale: 8;
    transform: translate(3px, 28px);
}

.poncirus1 {
    scale: 5.5;
    transform: translate(-18px, 33px);
}

.thornsthelodestar1 {
    scale: 8.5;
    transform: translate(7.5px, 25.5px);
}

.chenalter1 {
    scale: 6;
    transform: translate(-0px, 18px);
}

.pepe1 {
    scale: 7;
    transform: translate(1px, 18px);
}