@font-face {
    font-family: 'Mazzard';
    src: url("../static/fonts/Mazzard/MazzardH-Black.otf") format('truetype');
}

@font-face {
    font-family: 'Harukaze';
    src: url("../static/fonts/Harukaze.otf") format('truetype');
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flipCard {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: translateY(360deg);
    }
}



@keyframes slideViewerUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animateCanvas {
    from {
        opacity: 0;
        filter: saturate(0%) contrast(100%) brightness(0%) blur(5px);
    }

    to {
        opacity: 1;
        filter: saturate(0%) contrast(15%) brightness(30%) blur(0px);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftBackground {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    50% {
        opacity: 0.1;
        transform: translateX(0px);
    }

    75% {
        opacity: 0.1;
        transform: translateX(0);
    }
}

@keyframes revealLetter {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

img[alt] {
    text-indent: -9999px;
    /* Push alt text off-screen */
    display: block;
    /* Ensure consistent rendering */
}



:root {
    --accent: hsl(60, 80%, 74%);
    --accent-bg: hsl(60, 11%, 13%);

    --body-bg: #111014;
    --body-bg-transparent: hsla(255, 11%, 7%, 0.8);
    --body-bg-2: hsl(255, 11%, 11%);
    --body-txt: hsl(0, 0%, 67%);

    --equip-bg: #1f1e25;
    --equip-bg-2: hsl(255, 11%, 19%);
    --equip-bg: hsl(255, 10%, 13%);

    --card-bg: hsl(250, 11%, 80%);

    --equip-txt: hsl(0, 0%, 87%);
    --equip-txt-2: hsl(0, 0%, 87%);
    --equip-border: hsl(0, 0%, 20%);

    --gradient-top: hsl(60, 11%, 13%);
    --gradient-bottom: hsl(60, 11%, 13%);
    --gradient-top-transparent: rgba(13, 13, 13, 0.82);
    --gradient-bottom-transparent: rgba(3, 3, 3, 0.9);

    --scrollbar-track: var(--body-bg);
    --scrollbar-thumb: var(--equip-bg-2);
    --scrollbar-width: 3px;
    --scrollbar-height: 7px;
}


::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 7px;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
    animation: slideUp 0.5s ease-out forwards;
}

.show-card {
    display: flex !important;
    animation: flipCard 0.5s ease-out forwards;
}

.show-block {
    display: block !important;
    animation: slideUp 0.5s ease-out forwards;
}

.show-grid {
    display: grid !important;
    /* animation: slideUp 0.5s ease-out forwards; */
}

.accent {
    color: var(--card-bg);
}

.text-outline {
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    letter-spacing: 0.4px;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
    /* background-color: #000; */
    color: var(--equip-txt);
    font-family: "Roboto", serif;
    font-weight: 400;
    margin: 0;

    max-height: 100vh;
    overflow: hidden;

}

header {
    background-color: var(--body-bg);
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;

    input,
    button {
        display: none;
    }

    

    div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img:not(.kofi) {
        filter: invert();
    }

    img {
        height: 15px;
    }

    label {
        margin-left: 5px;
    }


    label:hover {
        cursor: pointer;
        scale: 1.1;
        transition: 300ms;
        user-select: none;
    }

    /* div {} */


    /* .header-radio {
    display: none;
 }  */
}

@keyframes lilpop {
    0% {
        transform: scale(1) rotate(0deg);
        /* Starting point: normal scale, no rotation */
    }

    /* 25% {
    transform: scale(1) rotate(1deg); 
  } */
    50% {
        transform: scale(1.1) rotate(0deg) rotateX(00deg);
        /* Back to normal scale, no rotation */
    }

    /* 75% {
    transform: scale(1) rotate();
  } */
    100% {
        transform: scale(1) rotate(-0deg);
        /* Back to normal scale, no rotation */
    }
}

section {
    display: flex;
    height: 100vh;
    border-top: 1px solid var(--equip-border);
}

#planner .container {

    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;
}

#planner,
#viewer {
    background-position: center center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 30px inset;
}

#planner,
#gallery {
    animation: slideUp 1s;
}


.event-name-english {
    text-transform: capitalize;
}

#container-of-events {
    /* background-color: var(--body-bg); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    padding-bottom: 50px;
    border-right: 1px solid var(--equip-border);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 60px 30px inset;
    backdrop-filter: blur(4px);
}

@keyframes eventPop {
    0% {
        opacity: 0;
        transform: translateX(-0%) scale(0) rotate(0deg);
        /* Starting point: normal scale, no rotation */
    }

    25% {
        opacity: 0.25;
        transform: translateX(-0%) scale(1) rotate(1deg);
        /* Scale up to 1.2, rotate slightly right */
    }

    50% {
        opacity: 0.5;
        transform: translateX(-0%) scale(1.05) rotate(0deg) rotateX(20deg);
        /* Back to normal scale, no rotation */
    }

    75% {
        opacity: 0.75;
        transform: translateX(-0%) scale(1.05) rotate(-1deg);
        /* Scale up to 1.2, rotate slightly left */
    }

    100% {
        opacity: 1;
        transform: translateX(-0%) scale(1) rotate(0deg);
        /* Back to normal scale, no rotation */
    }
}

#container-of-events label {
    display: none;
    opacity: 0;
    grid-template-columns: 1fr auto;
    /* Two columns: one for divs, one for calcs-div */
    grid-template-rows: auto;
    /* Adjusts based on the number of rows */
    grid-gap: 0px;
    /* Optional: space between items */
    border: 1px solid var(--equip-border);
    /* width: 450px; */
    padding: 10px;
    border-radius: 10px;
    background-color: var(--equip-bg);
    transition: 300ms;
    box-shadow: 4px 3px 7px #000, -2px -2px 5px #ffffff17;
    user-select: none;
    --bg-url: url("https://raw.githubusercontent.com/HermitzPlanner/planner-images/main/events/resized/resized_ep16abnormalspectrum.jpg")
}

/* .event::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(7px) brightness(0.3);
    box-shadow: 1px 1px 30px 10px #00000099 inset;
    z-index: -1;
} */

.animate-event-pop {
    animation: eventPop 600ms forwards;
}

#container-of-events label:hover {
    scale: 1.05;
    transition: 300ms;
    cursor: grab;

    img {
        scale: 1.02;
        transition: 300ms;
    }
}

#container-of-events img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 6px 9px #000;
}

.event-image {
    max-width: 305px !important;
}

#container-of-events input[type="radio"] {
    display: none;
}

#header-show-events-button {
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

#initial {
    background-color: var(--equip-bg);
    color: var(--text);
    border: 1px solid var(--equip-border);
    border-radius: 10px;
    padding: 10px;
    text-align: end;
}

.calcs-div {
    grid-column: 2;
    grid-row: 1 / span 4;
    /* Span the height for all rows */
}

#container-of-rewards {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid var(--equip-border);
    padding-bottom: 10px;
    margin-bottom: 0px;

    gap: 13px;
    padding-bottom: 20px;
    margin-bottom: 5px;

}

.reward {
    width: 90px !important;
    height: 27px !important;
    background-color: var(--body-bg-transparent) !important;
    justify-content: center;
    align-items: center;
    font-size: 85%;
    user-select: none;
    border-radius: 7px !important;
}

#container-of-skins {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    place-content: flex-start;
    perspective: 800px;
    padding: 30px;
    padding-bottom: 150px;
    gap: 15px;

    /*
    background-size: 
    auto,
    cover; 
  background-repeat: 
    no-repeat,
    no-repeat; 
  background-position: 
    center, 
    center;
    */
}

#container-of-skins h2 {
    width: 100%;
    text-align: center;
    /* letter-spacing: 1px; */
    font-weight: 300;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    border-bottom: 1px solid var(--equip-border);
    margin: 0;
    font-size: 170%;
    padding: 10px;
}

#container-of-skins input {
    display: none;
}

/* .first-skin::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    z-index: -1;
} */

.break {
    flex-basis: 100%;
    height: 0;
    display: none;
}

.planner-brand {
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 182px;
    flex-direction: column;

    border-radius: 0px;

    /* box-shadow: inset 0 0 60px 30px rgba(0, 0, 0, 0.8), 5px 5px 6px 1px hsla(0, 0%, 0%, 0.5), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.1);
    box-shadow: inset 0 0 70px 30px rgba(0, 0, 0, 0.8); */
    outline: 0px solid hsla(0, 0%, 0%, 1);
    padding: 0;

    overflow: hidden;

    --bg-url: url('../static/img/brands/CROSSOVER.png');

    color: #fff;
    font-family: 'Mazzard';
}

.planner-brand::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    /* ← blur solo a la imagen */
    z-index: -1;
}

.planner-brand::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.3); */
    z-index: -1;
}

.planner-brand-name {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
    background: #fff;
    width: 100%;
    color: #000;
    line-height: 21px;
    padding-top: 9px;
    padding-bottom: 5px;
    box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, 0.7), 5px 5px 6px 1px hsla(0, 0%, 0%, 0.5), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.1);
    display: none;
}

.planner-brand-type {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
    line-height: 43px;
    filter: drop-shadow(5px 5px 3px hsla(0, 0%, 0%, 0.75));
}

.planner-brand-image {
    padding: 15px 0;
    z-index: 1;
    width: 180px;
    height: 180px;
    object-fit: contain;
    filter: drop-shadow(5px 5px 3px hsla(0, 0%, 0%, 0.75));
}

#container-of-skins label:hover {
    transition: all 0.25s ease, border-image 1s, box-shadow 800ms;
    /* border-right: 5px solid;
    border-left: 5px solid; */
    cursor: pointer;

    .skin-inspect {
        transition: 400ms;
        scale: 1.1;
        translate: -2px 2px;
    }

    .planner-skin-background-canvas {
        transition: 400ms;
        translate: -0px 0px;
        scale: 1;
        filter: brightness(80%);
    }

    .skin-portrait {
        transition: 400ms;
        filter: drop-shadow(8px -8px 4px var(--body-bg));
        translate: -3px -5px;
    }

    /* .planner-skin-profession {
        animation: lilpop 300ms;
    }

    .skin-price {
        animation: lilpop 400ms;
    } */


}

.skin-portrait {
    width: 180px;
    /* min-height: 360px; */
}


#container-of-skins .model-name {
    /* border-bottom: 1px solid var(--equip-border); */
    padding: 5px 5px;
    text-align: center;
    font-weight: 500;
    /* background-color: var(--body-bg-2); */

    /* new changes */

    padding: 3px 0px;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-name {
    color: var(--equip-txt-2);

    /* new changes */

    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: none;
    border-top: 3px solid;
}

#container-of-skins .skin-price {
    color: #fff;
    font-family: 'Mazzard';
    position: absolute;
    padding: 2px 2px;
    width: 23px;
    text-align: center;
    box-shadow: 3px 2px 3px 0px #0000009c;
}

.planner-skin-profession {
    position: absolute;
    width: 23px;
    top: 22px;
    left: 0px;
    padding: 2px;
    border-radius: 0 0 5px 0;
    box-shadow: 3px 2px 3px 0px #0000009c;
}

.planner-skin-profession-shadow {
    position: absolute;
    filter: brightness(0);
    width: 27px;
    top: 22px;
    translate: -1px -1px;
}

.skin-inspect {
    position: absolute;
    right: 0px;
    top: 28px;
    /* padding: 3px 7px; */
    border-radius: 0 0 0 5px;
    border: none;

    /* new */
    top: 0;
    z-index: 3;
    padding: 3px 5px 8px 8px;
}

.skin-inspect:hover {
    cursor: pointer;
}

.skin-inspect-img {
    /* filter: invert(1) drop-shadow(0px 0px 2px hsla(0, 0%, 100%, 0.575)); */
    filter: invert(1);
    width: 12px;
    position: relative;
    top: 2px;
}



/* #container-of-skins .model-name {
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    background-color: var(--equip-bg);
} */

#container-of-skins label * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skin-portrait,
.skin-icon {
    z-index: 0;
    margin-top: 0px;
    /* width: 130px; */
    filter: drop-shadow(-2px -4px 2px var(--body-bg));
}



#summary {
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    animation: slideViewerUp 1s;
}

.summary-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    padding-left: 30px;
    /* border-bottom: 1px dashed hsl(0deg 0% 100% / 18%); */
    --bg-url: url("https://raw.githubusercontent.com/HermitzPlanner/planner-images/main/events/ep16abnormalspectrum.jpg");
}

.summary-row::before {
    content: "";
    position: absolute;
    inset: 0;
    /* top/right/bottom/left: 0 */
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    filter: saturate(100%) contrast(100%) brightness(30%) blur(0px);
    box-shadow: inset 0 0 60px 20px hsl(0deg 0% 0%);
    opacity: 0.5;
    z-index: -1;
    /* detrás del contenido */
}

.summary-icon {
    max-width: 100%;
    height: 100px;

}

.summary-event {
    padding: 0px;
    border: 1px solid var(--equip-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.summary-event .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: capitalize;
}

.summary-skin {
    position: relative;
    background: none;
    text-align: center;
    gap: 1px;
    border: 1px solid transparent;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 6px;
    overflow: hidden;

    img {
        background: none;
        z-index: 1;
    };

    canvas {
        position: absolute;
        left: 0;
        z-index: 0;
    }
}

.summary-skin .name {
    padding: 5px;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#gallery {
    position: relative;
    display: flex;
}

#gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    /* top/right/bottom/left: 0 */
    background-image: url("../static/img/bg.png");
    background-size: cover;
    background-position: center;
    filter: saturate(100%) contrast(100%) brightness(10%) blur(0px);
    opacity: 0.5;
    z-index: -1;
    /* detrás del contenido */
    /* animation: animateCanvas 2s; */
}

.gallery-header {
    border-right: 1px solid var(--equip-border);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px -20px 60px 30px #000000b3 inset;
    backdrop-filter: blur(3px);

    .main-text {
        font-size: 120%;
        text-align: center;
    }
}

#gallery-search-bar {
    background: var(--equip-bg);
    border: none;
    outline: 1px solid var(--equip-border);
    padding: 10px 5px;
    border-radius: 6px;
    color: var(--equip-txt);
}

#gallery-brand-filter,
#gallery-year-filter,
#gallery-artist-filter,
#gallery-rarity-filter,
#gallery-price-filter {
    width: 250px;
    background: var(--equip-bg);
    color: var(--equip-txt);
    padding: 10px 5px;
    border-radius: 5px;
}

#gallery-skins {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    gap: 15px;
    overflow-y: scroll;
    place-content: flex-start;
    padding-bottom: 50px;
}

#gallery-skins button {
    position: relative;
    border: 1px solid transparent;
    background: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 140px;
    overflow: hidden;
    height: fit-content;

    img {
        position: relative;
        width: 140px;
        display: block;
        user-select: none !important;
        pointer-events: none;
        z-index: 2;
    }

    canvas {
        position: absolute;
        left: 0;
        z-index: 0;
    }

}

.gallery-name-canvas {
    top: 0;
    filter: invert(1) hue-rotate(180deg) brightness(180%);
}

.gallery-icon-canvas {
    top: 29px;
}

#gallery-skins button:hover {
    scale: 1.05;
    transition: 300ms;
    cursor: pointer;
}

.gallery-name {
    position: relative;
    color: var(--equip-txt);
    font-family: 'Roboto';
    font-weight: 500;
    padding: 5px 10px;
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    z-index: 1;

    user-select: text !important;
}

#viewer {
    transition: 300ms;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 120px 60px inset;
    --viewer-bg: url("");
}

#viewer::before {
    content: "";
    position: absolute;
    inset: 0;
    /* top/right/bottom/left: 0 */
    background-image: var(--viewer-bg);
    background-size: cover;
    background-position: center;
    filter: saturate(0%) contrast(15%) brightness(30%) blur(0px);
    z-index: -1;
    /* detrás del contenido */
    animation: slideViewerUp 2s;
}

#viewer-image,
#viewer-image-background {
    /* max-width: 100%; */
    height: 100%;
    /* display: none; */
}

#viewer-image-background {
    position: absolute;
    scale: 1.5;
    filter: blur(0px);
    opacity: 0.1;

    /* left: -100px; */

}

#viewer-image {
    position: absolute;
    -webkit-user-drag: none;
    z-index: 98;
    cursor: move;
    right: 500px;
}

.viewer-show-image {
    animation: slideLeft 2s;
}

.viewer-show-image-background {
    animation: slideLeftBackground 4s;
}

.animate-viewer-background {
    animation: slideUp 2s;
}

#viewer-info {
    /* background-color: var(--body-bg); */
    z-index: 99;
    position: absolute;
    right: 0;
    padding: 25px;
    width: calc(500px + var(--scrollbar-width));
    height: 100%;
    border-left: 0px solid var(--equip-border);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;

    background-color: hsla(0, 0%, 100%, 0.07);
    box-shadow: inset 0 0 20px 20px hsla(0, 0%, 0%, 0.2);

    backdrop-filter: blur(12px)
}



.viewer-header {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Two columns: Image auto-sized, text fills remaining space */
    grid-template-rows: repeat(2, auto);
    /* Two rows */
    gap: 10px;
    /* Adjust spacing */
    /* align-items: center; */
}

.viewer-icon-image {
    /* outline: 1px solid var(--equip-border);
    grid-row: span 2;
    width: 180px;
    height: auto;
    border-radius: 10px; */


    /* background-color: var(--body-bg); */
    /* outline: 1px solid var(--equip-border); */
    grid-row: span 2;
    width: 130px;
    height: 110px;
    object-fit: contain;
    padding-top: 5px;
}

.viewer-model-name,
.viewer-skin-name {
    font-weight: 400;
    background-color: var(--body-bg);
    background-color: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;

    padding-right: 15px;
    box-shadow: inset 0 0 19px 2px rgba(0, 0, 0, 0.24), 5px 5px 6px 1px hsla(0, 0%, 0%, 0.2), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.025);



    white-space: nowrap;
    /* Prevent line breaks */

}

.viewer-profession-icon {
    height: 30px;
    margin-left: 7px;
    margin-top: 3px;
}

@keyframes opacityFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0) rotate(0deg);
        /* Starting point: normal scale, no rotation */
    }

    25% {
        transform: translateX(-50%) scale(1) rotate(2deg);
        /* Scale up to 1.2, rotate slightly right */
    }

    50% {
        transform: translateX(-50%) scale(1.1) rotate(0deg) rotateX(20deg);
        /* Back to normal scale, no rotation */
    }

    75% {
        transform: translateX(-50%) scale(1.1) rotate(-2deg);
        /* Scale up to 1.2, rotate slightly left */
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1) rotate(0deg);
        /* Back to normal scale, no rotation */
    }
}


.viewer-rarity {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    opacity: 0;
    animation: pop 600ms forwards;
    /* filter: grayscale(1) brightness(2) drop-shadow(2px 2px 1px #ffffff33); */
    width: fit-content;

}

.viewer-model-name {

    font-family: 'Oswald';
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;

    font-size: 27px;
    border-radius: 0 0 10px 10px;
}

.viewer-skin-name {
    font-style: italic;
    font-weight: 300;
    font-family: '';
    grid-column: 2;
    grid-row: 2;
    font-size: 23px;
    padding-left: 0;
}


.viewer-row,
.viewer-row-double {
    /* font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px; */

    font-family: 'Oswald';
    font-weight: 400;
    /* font-size: 40px; */

    background-color: var(--body-bg);
    padding: 10px;
    border-radius: 10px;



    width: 220px;
    font-family: 'Roboto';
    font-size: 18px;
    display: flex;
    align-items: center;

    box-shadow: inset 0 0 19px 2px rgba(0, 0, 0, 0.24), 3px 3px 6px 1px hsla(0, 0%, 0%, 0.2), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.025);

    img {
        height: 24px;
        margin-left: 5px;
    }


}

.info-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.viewer-row-double {
    text-transform: capitalize;
    width: 100%;
}

.viewer-canvas {
    position: relative;
    outline: 1px solid var(--equip-border);
    border-radius: 10px;
    gap: 0px;
    /* background-color: var(--equip-bg); */
    display: flex;
    flex-direction: column;
    margin: 0px 0;

    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 120px 60px inset; */
    --viewer-bg: url("");
    transition: 300ms;
}

.viewer-canvas::before {
    content: "";
    position: absolute;
    inset: 0;
    /* top/right/bottom/left: 0 */
    background-image: var(--viewer-bg);
    background-size: cover;
    background-position: center;
    filter: saturate(0%) contrast(15%) brightness(30%) blur(3px);
    z-index: -1;
    /* detrás del contenido */
    animation: animateCanvas 2s;
    border-radius: 10px;
}

/* canvas {
    outline: 0px solid var(--equip-border);
    box-shadow: inset 0 0 19px 2px rgba(0, 0, 0, 0.24), 3px 3px 6px 1px hsla(0, 0%, 0%, 0.2), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.025);
    border-radius: 10px 10px 0 0;
} */

.viewer-tips {
    position: absolute;
    width: calc(100% - 541px);
    height: 100%;
    opacity: 1;
    font-size: 80%;
    z-index: 97;
    display: flex;
    align-items: end;
}

/* .viewer-tips:hover {
    opacity: 0.5;
    transition: 5000ms;
} */

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    animation: revealLetter 0.5s forwards;
    transform: skew(-7deg);
}

.chibi-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px;
    border-top: 1px solid var(--equip-border);
    border-radius: 0 0 10px 10px;
    /* background-color: var(--equip-bg); */
}

.chibi-row {
    border: none;
    width: fit-content;
    color: var(--equip-txt);
    background-color: var(--equip-bg);
    background-color: var(--body-bg-2);
    padding: 10px;
    border-radius: 10px;
    outline: 0px solid var(--equip-border);
    text-align: center;

    font-family: 'Roboto';
    font-weight: 700;
    text-transform: capitalize;

    box-shadow: inset 0 0 19px 2px rgba(0, 0, 0, 0.24), 3px 3px 6px 1px hsla(0, 0%, 0%, 0.2), -3px -2px 10px 0px hsla(0, 0%, 100%, 0.025);
}

.chibi-row:hover,
.change-skin:hover {
    scale: 1.05;
    transition: 300ms;
    cursor: pointer;
}

.animation-list-div {
    border: 1px solid var(--equip-border);
    background: var(--equip-bg);
    border-radius: 10px;
    padding: 10px;
    min-height: fit-content;

    /* overflow-x: hidden;
    overflow-y: scroll; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    button {
        border: none;
        color: var(--equip-txt);
        background-color: var(--body-bg-2);
        outline: 1px solid var(--equip-border);
        padding: 10px;
        border-radius: 10px;
        height: fit-content;
    }

    button:hover {
        cursor: pointer;
    }
}

.quit-viewer-button {
    /* width: fit-content;
    background: var(--equip-bg);
    border: none;
    outline: 1px solid var(--equip-border);
    border-radius: 5px;
    padding: 1px 8px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #fff;
    font-weight: 900;
    margin-left: auto;
    cursor: pointer;
    scale: 1.5; */

    width: fit-content;
    background: var(--equip-bg);
    border: none;
    outline: 1px solid var(--equip-border);
    border-radius: 11px;
    padding: 1px 10px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    font-size: 20px;
    position: sticky;
    top: 0;
    margin-left: auto;
    z-index: 99;
    box-shadow: 3px 4px 6px #000;
}

.collapse-viewer-button {
    position: sticky;
    top: 0px;
    margin: 0;
    margin-top: -45px;
    margin-bottom: 5px;
}

.animation-list-div::-webkit-scrollbar-thumb {
    background-color: var(--body-bg-2);
}

/* .color-list-div {
    min-height: 10px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    animation: fadeInFromLeft 2s forwards;
} */

.year-button-filters {
    display: flex;
    width: 100%;
    background: #00000015;
    padding: 10px;
    height: 40px;
    gap: 10px;
}

.year-filter-button {
    width: stretch;
    border-radius: 10px;
    background: var(--equip-bg-2);
    border: none;
    color: #fff;
    font-family: 'Mazzard';
    letter-spacing: 2px;
    font-size: 19px;
    box-shadow: 1px 2px 6px #000;
}

.year-filter-button:hover {
    scale: 1.05;
    transition: 200ms;
}

.color-list-div {
    min-height: 21px;
    width: 100%;
    display: flex;
    border-radius: 0px;
    animation: fadeInFromLeft 2s forwards;
    /* border-bottom: 5px solid hsl(255deg 11% 7%); */
    border-radius: 0;
    gap: 5px;
    /* position: absolute; */
}

.color-button {
    flex: 1;
    border: 0px solid var(--equip-border);
    border-radius: 4px;
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.24), -3px -2px 10px 0px #ffffff0f, 1px 3px 7px 0px #000000a1;
}

.color-button:hover {
    scale: 1.1;
    transition: 200ms;
    cursor: pointer;
}

.primary-color,
.secondary-color {
    transition: 100ms;
}

.skin-selector {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--body-bg-transparent);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.change-skin {
    display: flex;
    flex-direction: column;
    background-color: var(--equip-bg);
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--equip-border);
    padding: 10px;
    opacity: 0;
    color: var(--equip-txt);
    animation: slideUp 1s forwards;
    /* Apply the animation */
}

.mandarin {
    display: none;
}

.selected-skin {
    user-select: none;
    opacity: 0;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(237, 237, 90, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.planner-skin-label {
    position: relative;
    /* border: 1px solid var(--equip-border); */
    display: flex;
    flex-direction: column;
    width: 177px;
    height: fit-content;
    background-color: var(--equip-bg);
    overflow: hidden;

    border: 3px solid;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.7);
}

.planner-skin-name-canvas {
    position: absolute;
    left: 0px;
    border-radius: 0px;
    z-index: 1;
    bottom: -2px;
    filter: brightness(0.8);
}

.overlay {
    user-select: none;
    opacity: 0;
    transition:
        opacity 300ms ease,
        visibility 0s linear 1s;
    /* el delay para que desaparezca del flujo después */
    /* transition-delay: 1s; */
    /* o podés dejarlo solo en la prop que querés */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    /* shorthand piola para top/right/bottom/left: 0 */
    width: 100%;
    height: 100%;
    background: hsla(60, 80%, 64%, 0.3);
    z-index: 2;
}

.effect-overlay {
    user-select: none;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;

}

.planner-skin-background-canvas {
    scale: 1.125;
    outline: 0px;
}

/* .scroll-container:active {
    cursor: grabbing;
} */

.mobile-toggle {
    display: none;
}