header {
    display: flex;
    align-items: left;
    gap: 20px;
    padding: 10px;
    background-color: var(--header-background);
    color: var(--text-light);
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 20px;
}

.header-label {
    cursor: pointer;
}

.header-item,
.calc-item {
    display: flex;
    align-items: center;
}

.header-item img,
.calc-item img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.header-item img {
    filter: invert(1);
}
.total-left {
    /* opacity: 0; */
}
.planner-events-total {
    justify-content: space-between;
   
}
.planner-events-total-value {
    padding: 4px 0;
    padding-left: 12px;
    width: fit-content !important;
    border-top: 1px solid var(--highlight);
    /* border-bottom: 1px solid var(--highlight); */
}
.header-text {
    font-size: 16px;
}
.calc-text {
    font-size: 12px;
}

.planner-skins-header-event {
    font-size: 150%;
}

.planner-skins-header-reward,
.planner-skins-header-summary,
.planner-help {
    outline: 2px solid var(--highlight-dark);
    background: var(--background-events-body-dark);
    padding: 5px 15px;
    border-radius: 10px;
}

.planner-help {
    margin-left: 10px;
}

.header-reward,
.header-summary {
    width: fit-content;
    margin: 0 auto;
}

.header-summary {
    margin: unset;
}

.header-reward:hover,
.header-summary:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 175ms ease;
}

input[type="file"] {
    display: none;
}