@media screen and (max-width: 1000px) {

    /* Your styles for screens less than 1000px go here */
    body {
        .planner-body {
            flex-direction: column;
        }

        .planner-events {
            height: 40%;
        }

        .planner-skins {
            height: 60%;
        }

        .planner-events,
        .planner-skins {
            width: 100%;
        }

    }
}